.close {
  width: 50px;
  aspect-ratio: 1/1;
  margin: 20px 40px;
  position: absolute;
  top: 115px;
  right: -35px;
  border-radius: 10px;
  border: 0;
  /* background-color: rgb(165, 102, 102, 0.4); */
  background-color: rgb(92, 116, 75, 0.3);
  background-image: url("../../../../../../assets/img/cross.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: 10px;
  transition: background-color 1s;
  cursor: pointer;
}
.close:hover {
  background-color: rgb(165, 102, 102, 0.7);
  /* background-color: rgb(110, 153, 209); */
}

@media screen and (max-width: 575px) {
  .close {
    width: 40px;
    aspect-ratio: 1/1;
    top: 47px;
    right: -5px;
    margin: 5px 10px 40px 20px;
    background-size: 25px 25px;
    background-position: 8px;
  }
}
