.main {
  width: 400px;
  margin: 20px auto 0;
  border-radius: 10px;
}

.main > button {
  width: 100%;
  margin-top: -2px;
  padding: 5px 0;

  font-family: Tilt;
  font-size: 30px;
  color: rgba(92, 67, 67, 0.8);
  font-weight: 400;
  border-radius: 10px;
  /* border: 0; */
  border: 2px solid rgba(177, 176, 146);
  background-color: rgba(177, 176, 146, 0.575);
  background-repeat: no-repeat;
  background-position: 50px;
  transition: background-color 1s;
  cursor: pointer;
}
.main > button:hover {
  background-color: rgba(177, 176, 146, 0.8);
}

.btn-flash-card {
  background-image: url("../../../../../assets/img/flash-cards.png");
  background-size: 30px 30px;
}

.btn-write-term {
  background-image: url("../../../../../assets/img/quill-pen.png");
  background-size: 30px 30px;
}
