.main {
  width: 110px;
  aspect-ratio: 1/1;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.main p {
  padding: 0;
  margin: 0;
  font-size: 45px;
  font-family: Dancing;
}

.chosen {
  animation: chosen 2s;
  animation-fill-mode: forwards;
}

@keyframes chosen {
  from {
    opacity: 0.3;
    font-weight: 300;
  }
  to {
    font-weight: 800;
  }
}

.unchosen {
  animation: unchosen 2s;
  animation-fill-mode: forwards;
}

@keyframes unchosen {
  from {
    font-weight: 800;
  }
  to {
    opacity: 0.3;
    font-weight: 0;
  }
}

.range {
  width: 100px;
  height: 35px;
  border: 0;
  background-color: rgba(70, 131, 170, 0.5);
  border-radius: 20px;
  margin-bottom: -10px;
}

.slider {
  width: 32px;
  aspect-ratio: 1/1;
  border: 0;
  border-radius: 100px;
  background-color: rgba(70, 131, 170, 0.7);
  cursor: pointer;
}

.left {
  animation: left 2s;
  animation-fill-mode: forwards;
}

@keyframes left {
  from {
    transform: translateX(0);
  }
  to {
    opacity: 0.5;
    transform: translateX(70px);
  }
}

.right {
  animation: right 2s;
  animation-fill-mode: forwards;
}

@keyframes right {
  from {
    opacity: 0.5;

    transform: translateX(70px);
  }
  to {
    transform: translateX(0);
  }
}

@media screen and (max-width: 575px) {
  .main p {
    font-size: 35px;
  }
  .range {
    width: 80px;
    height: 25px;
  }
  .slider {
    width: 25px;
  }
  @keyframes right {
    from {
      opacity: 0.5;
      transform: translateX(55px);
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes left {
    from {
      transform: translateX(0);
    }
    to {
      opacity: 0.5;
      transform: translateX(55px);
    }
  }
}
