.main {
  background-color: rgba(128, 128, 128, 0.15);
  overflow: scroll;
  min-height: 100vh;
  margin-top: -100px;
  border-top: 220px solid;
  border-bottom: 200px solid;
  border-image-slice: 20%;
  border-image-source: url("../../../../assets/img/border.png");
}

.set-name {
  margin: 0 0 0 20px;
  padding: 0;
  font-size: 40px;
  font-family: Dancing;
  animation: name 1s;
}

@keyframes name {
  from {
    font-size: 30px;
  }
}

@media screen and (max-width: 576px) {
  .main {
    margin-top: 0;
    border-top: 90px solid;
    border-bottom: 100px solid;
    border-image-slice: 20%;
  }
  .folder-name {
    /* margin: 0 0 0 20px; */
    font-size: 30px;
  }
  @keyframes name {
    from {
      font-size: 20px;
    }
  }
}
