.main {
  margin-bottom: 5px;
  display: flex;
  font-size: 30px;
  font-family: Tilt;
  border: 2px solid grey;
  border-radius: 10px;
  background-color: rgb(214, 202, 202);
  overflow: scroll;
  white-space: nowrap;
}

.folder {
  margin: 5px 2px;
  display: flex;
  align-items: center;
  font-size: 30px;
  background-color: rgb(196, 179, 179);
  border-radius: 5px;
}

.folder p {
  margin: 0;
  padding: 0 5px;
  color: #4c4444;
}

.folder > input {
  width: 25px;
  aspect-ratio: 1/1;
  margin: 0 5px 0 0;
  padding: 0;
  cursor: pointer;
}
